
@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds background_cover overlay_color section_padding_top_75 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Us</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="active">About Us </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="about" class="ls section_padding_top_140 columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 to_animate" data-animation="fadeInRight" data-delay="600">
                <h2 class="section_header"> <span class="thin">Welcome</span><br> to E-Service Center </h2>
                <hr class="theme-divider color1">
                <p>
                    Our team strives not only to provide quality professional equipment repair services, but also takes care of the manufacturer's warranty if any part does not work after its installation. Our goal is that customers are always happy with the result
                    and we understand that for this we need to try to provide better service, not just repair.We provide equipment repair services in most areas of Eastern Hill...
                </p>
                <div class="inline-content big-spacing v-spacing topmargin_30">
                    <a href="about.html" class="theme_button color1">Read more</a>
                    <p> <i class="fa fa-phone highlight size_small rightpadding_10"></i> <strong class="grey medium">0-800-478-3421</strong> </p>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 text-center text-md-left bottommargin_0 to_animate" data-animation="fadeInUp" data-delay="300"> <img src="~/assests/images/about-person.jpg" alt="" class="offset-image"> </div>
        </div>
    </div>
</section>
<section id="team" class="ls ms section_padding_top_140 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                <h2 class="section_header">Our Team</h2>
                <hr class="theme-divider color1">
                <p class="section-excerpt">Shankle kielbasa buffalo frankfurter leberkas capicola pork belly tenderloin filet mignon flank. Jerky ground round pork chop ribeye alcatra upim tri-tip bresaola pancetta pig.</p>
                <div class="owl-carousel topmargin_50" data-dots="false" data-nav="true"
                     data-responsive-lg="3">
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/01.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Erik Henderson</a> </h3> <span class="small-text highlight">director</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/02.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Nicholas Hunter</a> </h3> <span class="small-text highlight">manager</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/03.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Jay Henry</a> </h3> <span class="small-text highlight">technician</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/04.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Joe Lamb</a> </h3> <span class="small-text highlight">technician</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/05.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Larry Horton</a> </h3> <span class="small-text highlight">ceo</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding with_border with_background">
                        <div class="item-media"> <img src="~/assests/images/team/06.jpg" alt=""> </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h3 class="entry-title bottommargin_0"> <a href="team-single.html">Edgar Carpenter</a> </h3> <span class="small-text highlight">technician</span>
                            </header>
                            <p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
                        </div>
                    </article>
                </div>
                <p class="topmargin_60"> <a href="team.html" class="theme_button color1 min_width_button bottommargin_0">All Team</a> </p>
            </div>
        </div>
    </div>
</section>
<section id="brands" class="ls section_padding_top_140 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 to_animate" data-animation="fadeInLeft" data-delay="600">
                <h2 class="section_header"><span class="thin">Brands We</span> Work With</h2>
                <hr class="theme-divider color2">
                <p>We serve almost any home appliances. Our customers are happy that we can work with such a wide list, as not every company can take on certain devices. Here are the brands with which we work:</p>
                <div class="two-cols-text highlight2links">
                    <ul class="list2 big-v-spacing checklist color2 grey regular">
                        <li>Alcatra</li>
                        <li>Prosciutto</li>
                        <li>Strip Steak</li>
                        <li>Chicken</li>
                        <li>Pastrami</li>
                        <li>Corned</li>
                        <li>Shoulder</li>
                        <li>Andouille</li>
                        <li>Boudin</li>
                        <li>Ground</li>
                        <li>Salami</li>
                        <li><a href="brands.html">many more</a></li>
                    </ul>
                </div>
                <div class="inline-content big-spacing v-spacing topmargin_25">
                    <a href="brands.html" class="theme_button color2">Read more</a>
                    <p> <i class="fa fa-phone highlight2 size_small rightpadding_10"></i> <strong class="grey medium">0-800-478-3421</strong> </p>
                </div>
            </div>
            <div class="col-md-6 bottommargin_0 hidden-sm hidden-xs to_animate" data-animation="fadeInUp" data-delay="300"> <img src="~/assests/images/brands-person.jpg" alt="" class="offset-image" /> </div>
        </div>
    </div>
</section>