
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds background_cover overlay_color section_padding_top_75 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Services</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="active">Services </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div style="margin:5%">
                <div class="col-sm-12">
                    <h3>We provide two type of services :</h3>
                    <h4>Preventive Maintenance</h4>: which are done periodically once in every quarter. If your product not expired then  this service will free or it will charge <b>200/-</b>Service charge
                </div>
                <div class="col-sm-12">
                    <h4>Fault Repair</h4>: This maintenance is done whenever a call is made by the You. If your product in warranty then it should be free..
                    Otherwise you have to pay <b>200/-</b> in every call.
                </div>
                <div class="col-sm-12">
                    <h4>About Replace Part</h4>: If your product in warranty then it should be free..
                    Otherwise you have to pay and <label style="font-weight:600">2 Month</label> warranty in replaced part.
                </div>
            </div>

        </div>
    </div>
</section>
<section class="ls ms page_portfolio section_padding_top_150 section_padding_bottom_130">
    <div class="container">
        <div class="row flex-wrap columns_margin_bottom_20">
            <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                <article class="vertical-item content-padding with_border with_background text-center">
                    <div class="item-media"> <img src="~/assests/images/gallery/01.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title"> <a href="service-single.html">Diagnostic</a> </h3>
                            <hr class="main_bg_color entry-title-divider">
                        </header>
                        <div class="entry-content content-3lines-ellipsis">
                            <p>Frankfurter porchetta t-bone filet mignon strip steak, biltong hamburger landjaeger chicken fatback spare ribs chuck cow shankle.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-5">
                <article class="vertical-item content-padding with_border with_background text-center">
                    <div class="item-media"> <img src="~/assests/images/gallery/02.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title"> <a href="service-single.html">Maintenance</a> </h3>
                            <hr class="main_bg_color entry-title-divider">
                        </header>
                        <div class="entry-content content-3lines-ellipsis">
                            <p>Ham hock ribeye tenderloin kielbasa, leberkas landjaeger shoulder turkey shankle picanha pig jowl. Ribeye pork loin turkey cupim fatback. </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                <article class="vertical-item content-padding with_border with_background text-center">
                    <div class="item-media"> <img src="~/assests/images/gallery/03.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title"> <a href="service-single.html">Installation</a> </h3>
                            <hr class="main_bg_color entry-title-divider">
                        </header>
                        <div class="entry-content content-3lines-ellipsis">
                            <p>Strip steak hamburger jerky, swine sirloin pancetta flank tri-tip fatback ham turducken picanha pork loin sausage kielbasa. Leberkas sirloin flank.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-5">
                <article class="vertical-item content-padding with_border with_background text-center">
                    <div class="item-media"> <img src="~/assests/images/gallery/04.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title"> <a href="service-single.html">Repair</a> </h3>
                            <hr class="main_bg_color entry-title-divider">
                        </header>
                        <div class="entry-content content-3lines-ellipsis">
                            <p>Cupim chicken pork loin ground round ham. Ball tip tail chuck kevin cupim boudin pork belly ribs biltong landjaeger pancetta cow sausage. </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
